<h1>Anagramarama</h1>
<form action="/match">
  <div class="form-group">
    <label for="string">What is your Anagram Key?</label>
    <input id="string" name="anagram_key" class="form-control" type="string">
    <label for="string">What words should we check for the anagram?</label>
    <input id="string" name="anagram_input" class="form-control" type="string">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
